**/bin/
**/obj/
**/.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
appsettings.Development.json
appsettings.json


**/node_modules/
**/dist/
**/.env.local
**/.env.*.local

.DS_Store
Thumbs.db
*.log
.idea/
.vscode/
*.swp
*.bak
*~